<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!--      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<th:block th:include="~{fragments/head}">

</th:block>
<th:block th:include="~{fragments/header}">
</th:block>
<link rel="stylesheet" href="/css/orders.css">
<body>


<main class="container">

    <main>
        <h1 class="text-center">Track Your Order</h1>
        <hr class="hr-3" />
        <form class="mx-auto w-15" action="/orders/track" method="get">


            <div class="form-group">
                <div class="label-holder text-white bg-dark textCol d-flex justify-content-center">
                    <label for="search" class="h4 mb-2 text-white">Barcode</label>
                </div>
                <input type="search" id="search" class="form-control"  name="search" />
            </div>

        </form>
    </main>



    <hr class="hr-3"/>
    <table id="track" class="table bg-blur">
        <thead>


        <tr>
            <th scope="col" class="font-weight-bold">Barcode</th>
            <th scope="col">Destination</th>
            <th scope="col">location</th>
            <th scope="col">recipientName</th>
            <th scope="col">Date</th>
            <th scope="col">Update Date</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody id="items-table">


        </tbody>
    </table>
</main>
<!--<th:block th:include="~{fragments/footer}"/>-->
<!--<th:block th:include="~{fragments/loader}"/>-->


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
        crossorigin="anonymous"></script>


<script src="/js/track.js"> </script>
<script src="/js/search.js"> </script>
</body>
<th:block th:include="~{fragments/footer}"/>
</html>